#search{
  display: flex;
  justify-content: center;
  input[type="text"]{
    height: 20px;
    margin-right: 10px;
  }
}

#list{

  li{
    padding: 5px;
    list-style: none;
    a{
      text-decoration: none;
    }
    img{
      max-width: 25px;
      height: 100%;
    }
  }

}