<template>
  <div>

    {{ country.name.official }}

    <img :src="country.flags.svg" :alt="country.name.official" width="25px">
    {{ country.population }}
    {{ country.cca3 }}
    <a :href="country.maps.googleMaps">maps</a>
  </div>
</template>

<script lang="ts" setup>

import {storeToRefs} from 'pinia';
import {useCountyStore} from '~/store/country';

const route = useRoute()

const store = useCountyStore();
const {fetchCountry} = store;
const {country} = storeToRefs(store);

await fetchCountry(route.params.cca3);
</script>