<template>
  <div>
    <div id="search">
      <input type="text" v-model="search">
      <input type="button" value="Find" @click="findCountry(search)">
    </div>

    <ul id="list">
      <li v-for="item in countries">
        <nuxt-link :to="'/country/'+item.cca3">
          <img :src="item.flags.svg" :alt="item.name.official">

          {{ item.name.common }}

          Population: {{item.population}}
          cca3: {{item.cca3}}
        </nuxt-link>
      </li>

    </ul>
  </div>
</template>
<script lang="ts" setup>
const search = ref("");


import { storeToRefs } from 'pinia';
import { useCountyStore } from '~/store/country';

const store = useCountyStore();
const { fetchCountries, findCountry } = store;
const { countries } = storeToRefs(store);

await fetchCountries();


</script>